DPONE_IT_OXR_VAULT_PATH=api/openexchangerates
DPONE_IT_OXR_SELECTORS=default.historical_rates_daily
DPONE_IT_OXR_SYMBOLS=ARS,RUB,EUR
DPONE_IT_OXR_DAYS_BACK=1
DPONE_IT_OXR_TIMEOUT=60
DPONE_IT_OXR_MAX_RETRIES=1
DPONE_IT_OXR_RETRY_DELAY=1.0
DPONE_IT_OXR_RATE_LIMIT_DELAY=1.0
