# Runtime env for dev Airflow/Argo pods
DPONE_INSTALL_MODE=snapshot
DPONE_PACKAGE_SPEC=dpone[vault,gcp]==1.4.3.dev8123
DPONE_PACKAGE_INDEX_URL=https://<user>:<token>@gitlab.example.com/api/v4/projects/<project_id>/packages/pypi/simple
DPONE_PACKAGE_EXTRA_INDEX_URL=https://pypi.org/simple
DPONE_PACKAGE_TARGET=/opt/airflow/.dpone-pkgs
DPONE_PROJECT_DIR=/opt/airflow/dags/repo
ENV_CODE=dev
DPONE_LOG_LEVEL=INFO
