# Dev install mode for Airflow / Argo / Kubernetes
DPONE_INSTALL_MODE=snapshot
DPONE_PACKAGE_SPEC=dpone==0.0.0.dev1234
DPONE_PACKAGE_INDEX_URL=https://<user>:<token>@gitlab.example.com/api/v4/projects/<project-id>/packages/pypi/simple
DPONE_PACKAGE_TARGET=/opt/airflow/.dpone-pkgs
